.ipynb_checkpoints
quadratic_formula_c.c
quadratic_formula_c.so
quadratic_formula_pybind11.cpp
quadratic_formula_pybind11.so
quadratic_formula_pybind11_noloop.cpp
quadratic_formula_pybind11_noloop.so
mydask.png
.virtual_documents
